In [4]:
# Import the pandas library
import pandas as pd

In [10]:
# Read the data form data.csv file present in the indexing file
df = pd.read_csv("indexing/data.csv")

In [12]:
# Seeing the first 5 rows of the dataSet
df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [17]:
# Getting the names of the columns
df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [16]:
# Geeting a single column by name
df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
       ..
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [21]:
# Selecting rows by their position
df.iloc[20:26]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
20,1054590,7,3,2,10,5.0,10,5,4,4,4
21,1054593,10,5,5,3,6.0,7,7,10,1,4
22,1056784,3,1,1,1,2.0,1,2,1,1,2
23,1057013,8,4,5,1,2.0,?,7,3,1,4
24,1059552,1,1,1,1,2.0,1,3,1,1,2
25,1065726,5,2,3,4,2.0,7,3,6,1,4

In [22]:
# Selecting columns by their position

df.iloc[:, 3:]

# Here the first part is to choose the rows where we chose all the rows
# and the second part is to choose how many columns to choose where we 
# chose from the 3 column till the end.

,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1,1,2.0,1,3,1,1,2
1,4,5,NaN,10,3,2,1,2
2,1,1,2.0,2,3,1,1,2
3,8,1,3.0,4,3,7,1,2
4,1,3,2.0,1,3,1,1,2
...,...,...,...,...,...,...,...,...
694,1,1,3.0,2,1,1,1,2
695,1,1,2.0,1,1,1,1,2
696,10,3,7.0,3,8,10,2,4
697,6,4,3.0,4,10,6,1,4
698,8,5,4.0,5,10,4,1,4

In [23]:
# Return a row that contains specific condition
df[df['Cancer_Type'] == 2]

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
690,654546,1,1,1,3,2.0,1,1,1,1,2
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2